<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0;">
    <title>Pastebin - Error</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <a href="/"><h2 id="name"></h2></a>
  <p class="error">{{{c}}}</p>

  <script>
      document.getElementById("name").innerHTML = window.location.hostname;
  </script>
</body>
</html>
