<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastebin - Error</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <p class="error">{{{c}}}</p>
</body>
</html>
