<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hastebin</title>
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="highlight.min.css">
    <script src="highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
    <pre><code class="hljs">{{c}}</code></pre>
    <a href="{{r}}"><button name="raw">RAW</button></a>
</body>
</html>