<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastebin</title>
    <link rel="stylesheet" href="/style.css">

    <link rel="stylesheet" href="/highlight.min.css">
    <script src="/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
    <a href="/"><h3 id="name"></h3></a>
    <pre><code class="hljs">{{c}}</code></pre>
    <a href="{{r}}"><button name="raw">RAW</button></a>
    <button name="copy" onclick="copyToClipboard()">Copy</button>
    <button name="share" onclick="shareURL()">Share</button>
    <p name="paste-info">{{{d}}}</p>
    <script>
        document.getElementById("name").innerHTML = window.location.hostname;
        function copyToClipboard() {
            navigator.clipboard.writeText(document.getElementsByClassName("hljs")[0].innerText)
            let copyButton = document.getElementsByName("copy")[0];
            copyButton.innerHTML = "Copied!";
            setTimeout(() => {
                copyButton.innerHTML = "Copy";
            }, 700)
        }
        function shareURL() {
            try {
                navigator.share({"url": window.location.href})
            } catch {
                navigator.clipboard.writeText(window.location.href)
                alert("Your browser does not support sharing. So the link copied to your clipboard.")
            }
        }
    </script>
</body>
</html>
